
@font-face {
  font-family:'Helvetica' sans-serif ;
  src: url(../fonts/helvetica.woff2);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family:'Helvetica' sans-serif ;
  src: url(../fonts/helvetica-bold.woff2);
  font-style: normal;
  font-weight: 700;
}
html{ 
  box-sizing: border-box;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}
.container{
  max-width: 1220px;
  padding: 0px 10px;
  margin: 0 auto;
}
.content{
  background-image: url(../images/mainfone.jpg);
  width: 100%;
  height: 100vh;
background-repeat: no-repeat;
background-position: center;
background-size: cover;

}
.wdth{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
text-align: center;
margin-top: 20%;
}
.content__box{
  display: flex;
  justify-content: center;
  align-items: center;
}
.content__box-text{
  padding: 0;
}
.label{
  color: aliceblue;
  font-size: 60px;
/* line-height: 110px; */
min-width: 400px;
  text-transform: uppercase;
  text-align:center;
}
.main-btn{
  min-width: 400px;
  border: none;
  background: #151515;
  color: aliceblue;
  padding: 50px 100px ;
  font-size: 35px;
  font-weight: 400;
  cursor: pointer;
}
.quest__wrap{
  width: 100%;
  text-align: center;
}
li{
  list-style-type: none;
}
.main__list{
  font-weight: 400;
  font-size: 20px;
  text-align: left;
  color: aliceblue;
  background: #151515cc;
  padding: 20px;
}
.quest{
  background-image: url(../images/back2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

img {
  width: 100%;
  max-width: 730px;
  object-fit: cover;
}

@media screen and (max-width: 900px) {
  .wdth {
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }
}